<launch>
    <!-- DoCoMo SentenceUnderstanding API Service Server-->
    <node name="DoCoMoUnderstandingSrv" pkg="trcp_chat" type="DoCoMoUnderstandingSrv.py" respawn="false" output="screen" >
        <param name="APIKEY" value="2e304a4f6d736d47695045352f4e6b4c6f773548506273704f2f69497a7653485170447349513259454b43" type="string"/>
        <param name="sentence_url" value="https://api.apigw.smt.docomo.ne.jp/sentenceUnderstanding/v1/task?" type="string"/>
    </node>


    <!-- DoCoMo Q&A API Service Server-->
    <node name="DoCoMoQaSrv" pkg="trcp_chat" type="DoCoMoQaSrv.py" respawn="false" output="screen" >
        <param name="APIKEY" value="2e304a4f6d736d47695045352f4e6b4c6f773548506273704f2f69497a7653485170447349513259454b43" type="string"/>
        <param name="qa_url" value="https://api.apigw.smt.docomo.ne.jp/knowledgeQA/v1/ask?" type="string"/>
    </node>

    <!-- DoCoMo Chat API Service Server-->
    <node name="DoCoMoChatSrv" pkg="trcp_chat" type="DoCoMoChatSrv.py" respawn="false" output="screen" >
        <param name="APIKEY" value="2e304a4f6d736d47695045352f4e6b4c6f773548506273704f2f69497a7653485170447349513259454b43" type="string"/>
        <param name="chat_url" value="https://api.apigw.smt.docomo.ne.jp/dialogue/v1/dialogue" type="string"/>

    </node>

    <!-- Rospeex -->    
    <!-- 音声認識にROSPEEXを起動する -->
    <include file="$(find rospeex_launch)/launch/rospeex_local.launch">
    </include>



    <!-- Chatプログラムを起動する -->
    <node name="ChatTRCP" pkg="trcp_chat" type="ChatTRCP.py" respawn="false" output="screen" >

      """ 発話理解APIの設定 """
        <param name="req_projectKey" value = 'OSU'  type="string"/>    
        <param name="req_appName" value= ''/>
        <param name="req_appKey" value= 'hoge_app01'  type="string"/>
        <param name="req_clientVer" value= '1.0.0'  type="string"/>
        <param name="req_dialogMode" value= 'off'  type="string"/>
        <param name="req_language" value= 'ja'  type="string"/>
        <param name="req_userId" value= '12 123456 123456 0'  type="string"/>
        <param name="req_lat" value= '139.766084'  type="string"/>
        <param name="req_lon" value= '35.681382'  type="string"/>

      """ 雑談対話APIの設定 """
      <param name="context" value="aaabbbccc111222333" type="string"/>
      <param name="nickname" value="あかね" type="string"/>
      <param name="nickname_y" value="アカネ" type="string"/>
      <param name="sex" value="女" type="string"/>
      <param name="bloodtype" value="O" type="string"/>
      <param name="birthdateY" value="1990" />
      <param name="birthdateM" value="2" />
      <param name="birthdateD" value="5" />
      <param name="age" value="25" />
      <param name="constellations" value="水瓶" type="string"/>
      <param name="place" value="大阪" type="string"/>
      <param name="mode" value="dialog" type="string"/>
      <param name="t" value="20" type="string"/>
    </node>

</launch>